
body{
	background:#f6f6f6;font-size: 12px;font-family: tahoma,arial,\5b8b\4f53,sans-serif;
}
/***header***/
.carHeader{
	width:100%;height:70px;background:#323232;overflow: hidden;
}
.carHeader .headerCon{
	width:990px;height: 70px;margin:0 auto;
}
.logo a{
	display: block;
}
.cartTable tr.checked td{
	background:#fdf0ef;
}

/***content***/
.center{
	padding-bottom: 20px;
}
.centerBox{
	padding:30px 0;width:990px;margin:0 auto;
}

.nullCart{
	padding:50px 0 140px 0;display: none;
	background: url(../images/c_11.jpg) no-repeat 150px 50px;
}
.nullCart .nullText{
	padding: 20px 0 0 410px;
}
.nullCart .nullText .cText01{
    font-size: 24px;font-family: microsoft yahei;color: #5d5d5d;padding-bottom: 22px;
}
.nullCart .nullText .cText02{
	padding-left: 60px;
}
.nullText .cText02 a{
    padding: 10px 40px;background-color: #e93b39;color: #fff;font-weight: bold;
    font-size: 14px;font-family: microsoft yahei;
}

.centerBox {
	position: relative;
}
.centerBox .cartNav{
	color: #666;margin-bottom: -2px;position: relative;z-index: 2;
}
.centerBox .cartNav .navLogin{
	padding-left: 18px;margin-top:4px;line-height:28px;display: none;
}
.centerBox .cartNav .noLogin{
	padding-left: 18px;
    margin-top: 4px;
    line-height: 28px;
}
.centerBox .cartNav .noLogin a{
	color: #e93b39;
    padding: 0 10px;
}
.cartNav .noLogin a:hover{
	text-decoration: underline;
}
.navLogin a{
	padding: 0 10px;color: #e93b39;
}
.navLogin a.userName{
	color: #666;padding:0 3px;
}
.navLogin a:not(.userName):hover{
	text-decoration: underline;
}
.centerBox .cartList{
	width: 986px;border: 1px solid #f1f1f1;padding: 1px;background: #fff;
    position: relative;z-index: 1;
}
.cartTable{
	width:100%;color: #666;
	border-collapse: collapse;border-spacing: 0;
}
.cartTable tr th {
    height:48px;background:url(http://pic.secoo.com/imagesPic/newCartPic/c_02.jpg);
    font-weight: normal;color: #999;border-bottom: 1px solid #fff;
}
.cartTable tr td {
    padding: 20px 0 15px;background: #fff; border-top: 1px solid #ececec;
    text-align: center;line-height: 22px;margin-top: -1px;
}
tbody input[type=checkbox]{
    position: relative;margin-right: 5px;
}
.cartPic{
	padding-right: 15px;
}
.cartPic img{
	border:1px solid #ececec;
}
.cartName{
	width: 255px;overflow: hidden;text-align: left;
}
.cartName a{
	color: #333;
}
.cartName a:hover{
	text-decoration: underline;
}
span.rmb{
	font-family: microsoft yahei;
}
.countNum{
	width: 58px;margin: 0 auto 2px;overflow: hidden;
}
.countNum a{
	display:inline-block;
}
.countNum a:hover{
	background:#e93b39; color: #fff;
}
.countNum .down,.up{
	width: 11px;height: 18px;line-height: 16px;
	text-align: center;color: #666;padding-right: 1px;cursor: pointer;
    background-color: #fff;border: 1px solid #eaeaea;
}
.countNum .num{
	width: 30px;height: 18px;line-height: 18px;text-align: center;
    border: 1px solid #eaeaea;border-left: 0;border-right: 0;color: #666;
}
strong{
	color: #e93b39;font-weight: bold;
}
a.del{
	color: #333;
}
a.del:hover{
	color: #e93b39;text-decoration:underline;
}


/***结算***/
.cartPrice{
	padding: 15px 45px 25px 30px;margin-top: 6px; position: relative;
    background-color: #fff;border: 1px solid #f1f1f1;
}
.cartPrice .cartAllno{
	width:300px;position: absolute;left: 31px;top:17px;height: 30px;
}
.cartPrice .delSp{
	padding-left: 20px;height: 16px;line-height: 16px;color:#c69c6d;
	margin-left: 28px;background: url(../images/c_06.jpg) no-repeat 0 0;
	cursor: pointer;display: none;
}
.cartPrice .delSp a{
	display: block;color: #666;
}
.cartPrice .delSp a:hover{
	color: #e93b39;
}
.cartPrice p{
	text-align: right;padding: 4px 0;color: #333;
}
.cartPrice p.totalPrice{
	margin-top: 5px;
}
.cartPrice p strong {
    font-family: tahoma;color: #e93b39;font-size: 30px;font-weight: normal;
}
.cartPrice a.a01{
	padding: 5px 15px;border: 1px solid #e93b39; color: #e93b39;
    background: none;margin-top: 12px;
}
.cartPrice a.a02{
	padding:10px 40px;font-weight: bold;font-size: 14px;font-family: microsoft yahei;
	background:#e93b39;color: #fff;cursor: pointer;
}
.cartPrice a.a02:hover{
	color: #fff;background:#d32220; 
}
.cartPrice a.a02dis{
	padding:10px 40px;font-weight: bold;font-size: 14px;font-family: microsoft yahei;
	background: #e4e4e4; color: #999;cursor: not-allowed;
}
.cartPrice a.a02dis:hover{
	background: #e4e4e4; color: #999;
}


/***删除弹出层***/
.cartPop01{
	display: none;width: 255px;position: absolute;
	z-index: 22;height:130px;left:120px;top:28px;
}
.cartPop01 div.arrow{
	padding-left:10px;
}
.cartPop01 div.arrow p.bg{
	width: 0;height: 0;border-left: 4px solid transparent;
    border-right: 4px solid transparent;border-bottom: 5px solid #999;
}
.cartPop01 span.close{
	position: absolute;right: 10px;top: 17px; color: #fff; cursor: pointer;
    font-size: 18px;font-family: microsoft yahei;font-weight: bold; display: block; 
}
.cartPop01 .popContent{
	width: 253px;height: 123px;border: 1px solid #999; background-color: #fff;
}
.cartPop01 .popContent h3{
	padding: 0 10px;height: 33px;line-height: 33px;background: #999;color: #fff;
}
.cartPop01 .popText{
	padding-top: 18px;text-align: center;color: #333;
}

.cartPop01 .cbtns{
	padding-top: 15px;text-align: center;
}
.cartPop01 .cbtns a{
	padding:5px 10px;color: #fff;display: inline;
}
.cartPop01 .cbtns a.cbtn01{
	background:#e93b39;
}
.cartPop01 .cbtns a.cbtn02{
	background:#999;
}





.carSmsg{
	width: 986px;border: 1px solid #f1f1f1;background-color: #fff;padding: 1px;
	position: relative;
}
.carSmsg h3{
	height: 38px;background-color: #ececec;line-height: 38px;
    text-indent: 24px;font-weight: bold;color: #666;
}
.carSmsg .list01{
	height: 165px;position: relative;background: #fff;padding: 30px;
}
.carousel01,.carousel02{
	width: 920px;height:166px;overflow: hidden;position: relative;
}
.carSmsg .list01 ul{
	height: 166px;position: absolute;width: 2760px;left:0;
}
.carSmsg .list01 ul li{
	float: left;width:154px;height:100%;padding:0 15px;
}
.carSmsg .list01 ul li .spic{
	width:100%;text-align: center;
}
.carSmsg .list01 ul li .spic img{
	display:inline;border: 1px solid #ececec;width: 120px;height:120px;
}
.carSmsg .list01 ul li .sname{
	padding-top: 5px;height: 22px;line-height: 22px;text-align: center;
	width: 100%;overflow: hidden;
}
.carSmsg .list01 ul li .sname a{
	color: #666;
}
.carSmsg .list01 ul li .sprice p{
	color: #666;text-align: center;width:100%;
}
.carSmsg .list01 ul li .sprice p strong{
	font-size: 14px;color: #666;
}

.sprev,.snext{
	width: 15px;height: 29px;position: absolute;top:50%;margin-top: -13px;
	background:url(../images/c_12.png) no-repeat;opacity: .8;cursor: pointer;
	z-index: 9;
}
.sprev{
	left:12px;display: none;
}
.snext{
	right:12px;background-position: -15px 0;
}





/***footer***/
.footer{
	width:100%;background:#f6f6f6;border-top:1px solid #fff;
}
.footer .footerListTop{
	width:1200px;margin:0 auto;
}
.listTopCon {
    width: 100%; height: 155px;
}
.listTop01{
    border-right: 1px solid #e3e3e3;width: 610px;height: 125px;padding-top: 30px;
}
.listTop01 ul li{
	width:79px;height:110px;position: relative;float: left;
}
.listTop01 ul li a{
	width:79px;height:110px;position: absolute;color: #666;
}
.listTop01 .topIconBg{
	width:60px;height:60px;padding:9px;position: relative;
	background: url(../images/small_tips_bg02.jpg) no-repeat top center;
}
.listTop01 .topIconBg p {
    background: url(../images/small_tips_bg04.png) no-repeat;
    width: 60px; height: 60px;box-shadow: 0px 3px 3px #b1b1b1; border-radius: 50%;
   	transition: opacity linear .2s,box-shadow ease-in .2s;
    overflow: hidden;text-indent: -100px;position: absolute;
}
.listTop01 .topIconBg p.i01{
 	background-position: -1px -1px;z-index: 2;
}
.listTop01 .topIconBg p.i02{
 	background-position: -1px -89px;z-index: 1;opacity: 1;
}
.listTop01 p.text{
 	height: 22px;line-height: 22px;width:100%;color: #999;text-align: center;
}
.listTop01 li.hr{
  	width:40px;height:70px;margin-top: 10px;background: url(../images/small_tips_bg01.gif) repeat-x;
}
.listTop02{
  	width: 336px;height: 155px;border-right: 1px solid #e3e3e3;
  	border-left: 1px solid #fff;
}
.listTop02 ul{
	padding: 30px 0 0 22px;width: 264px;height: 125px;
}
.listTop02 ul li{
	float:left;width: 107px;height:104px;background: url(../images/small_tips_bg03.jpg) no-repeat top center;display: inline;margin-left: 25px;position: relative;
}
.listTop02 ul li a{
	width:84px;height:20px;line-height: 24px;position: absolute;left: 11px;
	color: #999;text-align: center;cursor: default;
}
.listTop02 ul li a.tptext{
	top:-14px;
}
.listTop02 ul li a.bttext{
	bottom:-8px;
}
.listTop02 ul li span{
	left:10px;top:10px;width:86px;height: 86px;position: absolute;
}
.listTop03{
	width: 245px;height: 155px;border-right: 1px solid #e3e3e3;
	border-left: 1px solid #fff;
}
.listTop03 ul{
	height:125px;margin-top: 20px;
}
.listTop03 ul.list03Left{
	margin-left: 35px;
}
.listTop03 ul.list03Right{
	margin-right: 35px;
}
.listTop03 ul li a{
	display: block;width:85px;height: 24px;line-height: 24px;
	text-align: center;color: #666;
}
.listTop03 ul li a:hover{
	color: #333;
}

.footerListBottom{
	width: 100%;background-color: #fff;border-top: 1px solid #e3e3e3;padding-top: 1px;
}
.footerListBottom .footerBt01{
	background: #eaeaea;color: #999;height:35px;line-height: 35px;
	width:100%;text-align: center;
}
.backTop{
	width:58px;height:58px;position: fixed;bottom:10px;left: 50%;margin-left: 500px;
	z-index: 10;display: none;
}
.backTop a{
	display: block;width:58px;height:58px;text-indent: -9999px;
	background:url(../images/c_04.png) no-repeat 0 -66px;
}
.backTop a:hover{
	background-position: -63px -66px;
}

